	html {
		height: 100%;
	}
	
	body {
		background: url("../img/hzw.jpg") repeat-y center center;
		background-size: cover;
		background-attachment: fixed;
		background-color: #090000;
	}
	
	x-sign {
		--interval: 1s;
		display: block;
		text-shadow: 
		0 0 10px var(--color1), 
		0 0 20px var(--color2), 
		0 0 40px var(--color3), 
		0 0 80px var(--color4);
		will-change: filter, color;
		filter: saturate(60%);
		animation: flicker steps(100) var(--interval) 1s infinite;
		position: relative;
		float: left;
		left: 37%;
	}
	
	x-sign:nth-of-type(1) {
		color: lightyellow;
		--color1: yellow;
		--color2: gold;
		--color3: orange;
		--color4: darkred;
		font-family: Yellowtail;
		font-size: 600%;
		margin-top: 350px;
	}
	
	@-webkit-keyframes flicker {
		50% {
			color: white;
			filter: saturate(200%) hue-rotate(20deg);
		}
	}